.btn:not(.delete):not(.edit) {
    max-width: 250px;
    width    : 100%;
}

.symptom-page #methods-table div.face {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.symptom-page #methods-table *[class*="-face"] {
    background-size    : contain;
    background-repeat  : no-repeat;
    background-position: center;
}

.symptom-page #methods-table .ecstatic-face {
    background-image: url('../images/EcstaticFace.png');
}

.symptom-page #methods-table .happy-face {
    background-image: url('../images/HappyFace.png');
}

.symptom-page #methods-table .neutral-face {
    background-image: url('../images/NeutralFace.png');
}

.symptom-page #methods-table .sad-face {
    background-image: url('../images/SadFace.png');
}

.symptom-page #methods-table .miserable-face {
    background-image: url('../images/MiserableFace.png');
}


text.annotation-text {
    font-weight: bold;
}


.user-page .timeline-charts .legend .groups g:last-child {
    display: none;
}