{% extends "layouts/index.html" %}


{% block content %}

<div class="container add-symptom-page" style="margin-top: 65px;">
    <div class="row">
        <a class="btn btn-primary ml-auto d-block" href="/user/{{user_id}}" role="button">Back to Home</a>
        <h2 class="col-12 text-center">Add Symptom</h2>

        <hr class="w-50 mx-auto mb-5 d-block" style="border-width: 4px;" />
    </div>

    <div class="row flex-column">

        <form method="POST" action="/user/{{user_id}}/add/symptom" class="m-auto col-12 col-md-8">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{user_id}}" />

            <div class="form-group row">
                <label for="symptom" class="col-12 col-md-5 col-form-label">Symptom</label>

                <div class="col-12 col-md-7">
                    <select name="symptom_id" class="form-control">
                        {% for symptom in symptoms %}
                        <option value="{{symptom.id}}" {% if symptom.id == symptom_id %} selected="selected"
                            {% endif %}>
                            {{symptom}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="start_date" class="col-12 col-5 col-form-label">Start Date</label>

                <div class="col-12 col-md-7">
                    <input type="text" class="form-control" name="start_date" id="start_date" />
                    <script type="text/javascript">
                        $(function () {
                            $("#start_date").datepicker({
                                autoclose: true,
                                format: "mm/dd/yyyy",
                                endDate: new Date()
                            });
                        });
                    </script>
                </div>
            </div>


            <button type="submit" class="btn btn-primary float-right">Add</button>
        </form>

    </div>
</div>

{% endblock %}