{% extends 'layouts/index.html' %}


{% block content %}

<div class="container add-symptom-page" style="margin-top: 65px;">
    <div class="row">
        <a class="btn btn-primary ml-auto d-block" href="/user/{{user_id}}" role="button">Back to Home</a>
        <h2 class="col-12 text-center">Severity Update</h2>

        <hr class="w-50 mx-auto mb-5 d-block" style="border-width: 4px;" />
    </div>

    <div class="row flex-column">

        <form method="POST" action="/user/{{user_id}}/add/symptom_update" class="m-auto col-12 col-md-7">
            {% csrf_token %}
            <input type="hidden" name="user_id" value="{{user_id}}" />

            <div class="form-group row">
                <label for="symptom" class="col-12 col-md-5 col-form-label">Symptom</label>

                <div class="col-12 col-md-7">
                    <select name="symptom_id" class="form-control">
                        {% for symptom in symptoms %}
                        <option value="{{symptom.id}}" {% if symptom.id == symptom_id %} selected="selected"
                            {% endif %}>
                            {{symptom}}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="date" class="col-12 col-md-5 col-form-label">Date</label>

                <div class="col-12 col-md-7">
                    <input type='text' class="form-control" name="date" id="date" />
                    <script type="text/javascript">
                        $(function () {
                            $('#date').datepicker({
                                autoclose: true,
                                format: 'mm/dd/yyyy',
                                startDate: '-1d',
                                endDate: new Date()
                            });
                        });
                    </script>
                </div>
            </div>

            <div class="form-group row">
                <label for="severity_id" class="col-12 col-md-5 col-form-label">Severity</label>

                <div class="col-12 col-md-7">
                    <select class="form-control" name="severity_id">
                        {% for severity in severities %}
                        <option value="{{severity.id}}">{{severity}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="title" class="col-12 col-md-5 col-form-label">Short Description of How You Felt</label>

                <div class="col-12 col-md-7">
                    <input type='text' class="form-control" name="title" />
                </div>
            </div>

            <div class="form-group row">
                <label for="description" class="col-12 col-md-5 col-form-label">Long Description of How You Felt</label>

                <div class="col-12 col-md-7">
                    <textarea class="form-control" name="description"></textarea>
                </div>
            </div>


            <button type="submit" class="btn btn-primary float-right">Add</button>
        </form>

    </div>
</div>

{% endblock %}