{% extends 'layouts/index.html' %}

{% block content %}

<div class="container symptom-page" style="margin-top: 65px;">
    <div class="row">
        <a class="btn btn-primary ml-auto mr-2 my-2" href="/user/1" role="button">Back to Home</a>

        <h2 class="col-12 text-center">Results for {{symptom.name}}</h2>

        <hr class="w-50 mx-auto mb-5 d-block" style="border-width: 4px;" />
    </div>

    <div class="row">
        <div class="col-12 mt-5">
            <table class="table">
                <thead>
                    <th scope="col">
                        <h3 class="text-center">Method</h3>
                    </th>
                    <th scope="col">
                        <h3 class="text-center">Effectiveness</h3>
                    </th>
                    <th scope="col">
                        <h3 class="text-center">Drawbacks</h3>
                    </th>
                    <th scope="col">
                        <h3 class="text-center"># of Users</h3>
                    </th>
                </thead>

                <tbody>
                    {% for method_trial in method_trials %}
                    <tr>
                        <td>
                            <a href="/symptom/{{symptom.id}}/method/{{method_trial.id}}" class="btn btn-link">
                                <h5>{{method_trial.name}}</h5>
                            </a>
                        </td>
                        <td class="text-center">{{method_trial.effectiveness}}</td>
                        <td class="text-center">{{method_trial.drawbacks}}</td>
                        <td class="text-center">{{method_trial.user_count}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}