{% extends 'layouts/index.html' %}

{% block content %}

<div class="container symptom-page" style="margin-top: 65px;">
    <div class="row mb-5">
        <a class="btn btn-primary ml-auto my-2" href="#" role="button">Back to Home</a>

        <h2 class="col-12 text-center">Results for {{symptom.name}}</h2>

        <hr class="w-50 m-auto d-block" style="border-width: 4px;" />
    </div>

    <div class="row">
        <table class="table">
            <thead>
                <th scope="col"><h4 class="text-center">Method</h4></th>
                <th scope="col"><h4 class="text-center">Effectiveness</h4></th>
                <th scope="col"><h4 class="text-center">Drawbacks</h4></th>
                <th scope="col"><h4 class="text-center"># of Users</h4></th>
            </thead>

            <tbody>
                
            </tbody>
        </table>
    </div>
</div>

{% endblock %}