{% extends 'layouts/default.html' %}

{% block head %}

{% load static %}

{% endblock %}

{% block content %}
<div class="container add-user-symptom-page" style="margin-top: 65px;">
    <div class="row">
        <a class="btn btn-primary ml-auto mr-2 my-2" href="/user/{{user_id}}" role="button">Back to Home</a>
    </div>

    <div class="row flex-column">
        {% for user_symptom in user_symptoms %}
        <form class="form-inline col-12 col-lg-6 mx-auto pb-3 border-bottom" method="POST">
            {% csrf_token %}
            <div class="col-11 row">
                <h4>{{user_symptom.symptom}}</h4>
                <h4 class="d-block ml-auto my-auto">{{user_symptom.created_at}}</h4>
            </div>

            <input type="hidden" name="action" value="delete">
            <input type="hidden" name="user_symptom_id" value="{{user_symptom.id}}">
            <button type="submit" class="delete ml-auto btn btn-outline-danger btn-sm">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </form>
        {% endfor %}
    </div>

    <div class="row">
        <form novalidate class="needs-validation col-12 col-lg-6 mx-auto mt-5" method="POST">
            {% csrf_token %}
            <input type="hidden" name="action" value="add">
            <input type="hidden" name="user_id" value="{{user_id}}" />

            <div class="form-group row">
                <label for="symptom_id" class="col-sm-7 col-form-label">Symptom</label>
                <div class="col-sm-5">
                    <select name="symptom_id" id="symptom_id" class="form-control" required>
                        <option value="">Please select a symptom.</option>
                        {% for symptom in symptoms %}
                        <option value="{{symptom.id}}">{{symptom.name}}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                        Please select a symptom.
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="created_at" class="col-sm-7 col-form-label">Started At</label>
                <div class="col-sm-5">
                    <input type="" name="created_at" id="created_at" class="form-control" readonly required />

                    <script>
                        $("#created_at").datepicker({ autoclose: true, maxDate: new Date() });
                        $("#created_at").datepicker("setDate", new Date())
                    </script>
                    <div class="invalid-feedback">
                        Please fill out this field.
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary d-block ml-auto">Add</button>
        </form>
    </div>
</div>
{% endblock %}