{% extends 'layouts/index.html' %}

{% block head %}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% load static %}
<script src="{% static 'js/user.js' %}"></script>

{% endblock %}

{% block content %}
<div class="container user-page" style="margin-top: 85px;">
    <div class="row">
        <div class="col-12">
            <h1 class="text-left">{{ user.name }}</h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-12 col-md-6 ml-md-auto mb-2">
            <select class="form-control symptom">
                {% for symptom in symptoms %}
                <option value="{{symptom.id}}">{{symptom}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-12 col-md-3 mr-md-auto mb-2">
            <a id="redirect_to_symptom" href="#" class="btn btn-primary mx-auto">Search</a>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 col-md-3 ml-md-auto">
            <a href="/user/{{user.id}}/add/symptom" class="btn btn-primary mx-auto mb-2 ml-md-0">Edit Symptom History</a>
        </div>

        <div class="col-12 col-md-3">
            <a href="/user/{{user.id}}/add/treatment" class="btn btn-primary mx-auto mb-2 ml-md-0">Edit Treatment History</a>
        </div>

        <div class="col-12 col-md-3 mr-md-auto">
            <a href="/user/{{user.id}}/add/symptom_update" class="btn btn-primary mx-auto mb-2 ml-md-0">Submit Symptom Update</a>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <h3 class="text-center">Treatment Timeline</h3>
        </div>

        <div class="col-12">
            {% if treatment_timeline %}
            {{treatment_timeline|safe}}
            {% endif %}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <h3 class="text-center">Symptom Timeline</h3>
        </div>

        <div class="col-12">
            {% for symptom_timeline in symptom_timelines %}

            <h5><b>- {{symptom_timeline.symptom}}</b></h5>
            <div class="symptom_timeline">{{symptom_timeline.chart|safe}}</div>

            {% endfor %}
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="symptom_modal" tabindex="-1" role="dialog" aria-labelledby="symptom_modal_title"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="symptom_modal_title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <label><b>Description:</b></label>
                <p id="symptom_modal_description"></p>

                <label><b>Created at:</b></label>
                <p id="symptom_modal_created_at"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}